# Cordova built stuff
platforms/android/ant-build/
platforms/android/CordovaLib/

# Grunt built stuff
platforms/ios/www/
platforms/android/assets/www/
www/index.html
www/css/index.css
www/css/style.css
www/html/*
www/js/*
!www/js/*/lib/

# Xcode
.DS_Store
platforms/ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
platforms/ios/wedeliver-lucy.xcodeproj/xcuserdata/*
platforms/ios/wedeliver-lucy.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcuserstate

# Miscellany
npm-debug.log
node_modules/
tmp/
*~
