phraseapp:
  access_token: YOUR_ACCESS_TOKEN
  project_id: f198b01b5612afc8ac9f7d95b8ba1889
  file_format: angular_translate
  push:
    sources:
    - file: ./www/locales/<locale_name>.json
      params:
        file_format: angular_translate
  pull:
    targets:
    - file: ./www/locales/<locale_name>.json
      params:
        file_format: angular_translate
        fallback_locale_id: 53d2ae32ea5672ed2a5f322670c95d98
        include_empty_translations: true
