<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<!-- https://cordova.apache.org/docs/en/latest/config_ref/index.html -->
<widget
  id="org.fallingfruit.app"
  version="0.2.5"
  android-versionCode="2500"
  android-packageName="uh.fallingfruit.app"
  ios-CFBundleIdentifier="com.fiddlemeragged.fallingfruit"
  defaultlocale="en"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <name>
    Falling Fruit
  </name>
  <description>
    The mobile app for Falling Fruit (fallingfruit.org)
  </description>
  <author email="info@fallingfruit.org" href="https://fallingfruit.org">
    Falling Fruit
  </author>
  <content src="index.html" />

  <!-- Android & iOS -->
  <preference name="DisallowOverscroll" value="true" />
  <preference name="Orientation" value="portrait" />

  <!-- Android -->
  <platform name="android">
    <preference name="AndroidXEnabled" value="true" />
    <preference name="AndroidLaunchMode" value="singleTop"/>
    <preference name="android-maxSdkVersion" value="" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="32" />
    <preference name="Fullscreen" value="false" />
    <preference name="KeepRunning" value="true" />
    <preference name="ShowTitle" value="false" />
    <edit-config file="AndroidManifest.xml" target="/manifest/application/activity[@android:name='MainActivity']" mode="merge">
      <activity android:windowSoftInputMode="adjustPan" />
    </edit-config>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <!-- Features implied by Permissions -->
      <!-- http://developer.android.com/guide/topics/manifest/uses-feature-element.html#permissions -->
      <uses-feature android:name="android.hardware.camera" android:required="false" />
      <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
      <uses-feature android:name="android.hardware.location" android:required="false" />
      <uses-feature android:name="android.hardware.location.network" android:required="false" />
    </config-file>
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <preference name="BackupWebStorage" value="cloud"/>
    <preference name="EnableViewportScale" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="deployment-target" value="9.3.5" />
    <preference name="target-device" value="universal" />
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to take photo</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to upload photos from library</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to save photos in library</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to show your location on the map</string>
    </edit-config>
    <edit-config target="NSLocationAlwaysAndWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to track your location</string>
    </edit-config>
    <!-- Applies only to < iOS 11 -->
    <edit-config target="NSLocationAlwaysUsageDescription" file="*-Info.plist" mode="merge">
      <string>Needed to track your location</string>
    </edit-config>
  </platform>

  <!-- Icon -->
  <icon src="resources/android/icon.png" />
  <platform name="ios">
    <icon height="57" src="resources/ios/icon/icon.png" width="57" />
    <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
    <icon height="20" src="resources/ios/icon/icon-20.png" width="20" />
    <icon height="40" src="resources/ios/icon/icon-20@2x.png" width="40" />
    <icon height="60" src="resources/ios/icon/icon-20@3x.png" width="60" />
    <icon height="29" src="resources/ios/icon/icon-29.png" width="29" />
    <icon height="58" src="resources/ios/icon/icon-29@2x.png" width="58" />
    <icon height="87" src="resources/ios/icon/icon-29@3x.png" width="87" />
    <icon height="48" src="resources/ios/icon/icon-24@2x.png" width="48" />
    <icon height="55" src="resources/ios/icon/icon-27.5@2x.png" width="55" />
    <icon height="88" src="resources/ios/icon/icon-44@2x.png" width="88" />
    <icon height="172" src="resources/ios/icon/icon-86@2x.png" width="172" />
    <icon height="196" src="resources/ios/icon/icon-98@2x.png" width="196" />
    <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
    <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
    <icon height="120" src="resources/ios/icon/icon-40@3x.png" width="120" />
    <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
    <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
    <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
    <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
    <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
    <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
    <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
    <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
    <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
    <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
    <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
    <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
    <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
    <icon height="1024" src="resources/ios/icon/icon-1024.png" width="1024" />
  </platform>
  <platform name="android">
    <resource-file src="resources/android/colors.xml" target="/app/src/main/res/values/colors-custom.xml" />
    <icon density="ldpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-ldpi.png" />
    <icon density="mdpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-mdpi.png" />
    <icon density="hdpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-hdpi.png" />
    <icon density="xhdpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-xhdpi.png" />
    <icon density="xxhdpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-xxhdpi.png" />
    <icon density="xxxhdpi" background="@color/background" foreground="resources/android/icon.xml" src="resources/android/icon-xxxhdpi.png" />
  </platform>

  <!-- Splashcreen -->
  <!-- https://github.com/apache/cordova-plugin-splashscreen -->
  <preference name="SplashScreenDelay" value="2000" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash.xml" />
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
  </platform>
  <platform name="ios">
    <splash height="1136" width="640" src="resources/ios/splash/Default-568h@2x~iphone.png" />
    <splash height="1334" width="750" src="resources/ios/splash/Default-667h.png" />
    <splash height="2436" width="1125" src="resources/ios/splash/Default-2436h.png" />
    <splash height="2208" width="1242" src="resources/ios/splash/Default-736h.png" />
    <splash height="2048" width="1536" src="resources/ios/splash/Default-Portrait@2x~ipad.png" />
    <splash height="2732" width="2048" src="resources/ios/splash/Default-Portrait@~ipadpro.png" />
    <splash height="1024" width="768" src="resources/ios/splash/Default-Portrait~ipad.png" />
    <splash height="960" width="640" src="resources/ios/splash/Default@2x~iphone.png" />
    <splash height="480" width="320" src="resources/ios/splash/Default~iphone.png" />
    <splash height="2732" width="2732" src="resources/ios/splash/Default@2x~universal~anyany.png" />
  </platform>

  <!-- Statusbar -->
  <!-- https://github.com/apache/cordova-plugin-statusbar -->
  <platform name="ios">
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="blackopaque" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
  </platform>

  <!-- Whitelist -->
  <allow-navigation href="*://*.fallingfruit.org/*" />
  <allow-intent href="*://*.fallingfruit.org/*" />
  <access origin="*" />
</widget>
