input(ng-model="filters.source_type", placeholder="{{source_type_placeholder}}", ng-focus="show_menu=true", ng-blur="blurInput()")
ul(ng-show="show_menu")
  li(ng-repeat="type in source_types_data.source_types|filter:filters.source_type", ng-click="updateLocationSourceType(type)")
    {{type.name}}
