.detail-input-container
  form(name="edibleTypesForm")
    input(ng-model="filters.edible_types", placeholder="{{edible_type_placeholder}}", ng-focus="show_menu=true", ng-blur="show_menu=false")
    ul(class="select-dropdown", ng-show="show_menu")
      li(ng-repeat="type in edible_types_data.edible_types|filter:filters.edible_types|limitTo:5 track by type.id", ng-click="updateLocationEdibleType(type)")
        {{type.name}}

.detail-links-container(ng-show="location.type_ids.length")
  p
    a(ng-repeat="id in location.type_ids", ng-click="removeEdibleType(id)", href="#removeType")
      [{edible_types_data.edible_types_by_id[id].name}]
