.search-param-container
  a.search-param-select-fullscreen(ng-click="show_select=true")
    | {{select_placeholder}}
  .search-param-select-reset(ng-show="show_reset_select", ng-click="resetSelect()")

.fullscreen-select-container(ng-show="show_select", ng-cloak)
  .fullscreen-select
    .fullscreen-select-header
        
      .fullscreen-select-search
        input.fullscreen-select-search-input(id="fullscreen-search-input", ng-model="search_string", placeholder="{{input_placeholder}}", ng-change="checkSearchLength()")
        .fullscreen-select-search-reset(ng-show="show_reset", ng-touch-click="resetSearch()", quiet-click)
      
    .fullscreen-select-list(ng-touch-click="closeKeyboard()")
      a.fullscreen-select-option(ng-show="search_string.length < 2") Type to find an edible type
      a.fullscreen-select-option(ng-repeat="type in edible_types_data.edible_types", ng-show="search_string.length > 1 && type.name.indexOf(search_string) > -1", ng-click="updateSelectedEdibleType(type)")
        | {{type.name}}
    .fullscreen-select-buttons
      //- a.save(href = "#") Save
      //- a.clear(href = "#") Clear
      a.cancel(ng-click = "cancel()") Cancel

//- .search-param-selected(ng-show="type_ids.length")
//-   a(ng-repeat="id in type_ids", ng-click="removeEdibleType(id)", href="#removeType")
//-     | [{edible_types_data.edible_types_by_id[id].name}]
