.detail-input-container
  form(name="edibleTypesForm")
    input(ng-model="filters.edible_types", placeholder="{{'glossary.type.other' | translate}}", ng-focus="show_types=true", ng-blur="blurInput()" ng-change="checkInputTypedLength()")
    .reset(ng-show="filtered", ng-click="clearEdibleType()")
    ul(class="select-dropdown", ng-show="show_types")
      li(ng-show="!filtered", translate="glossary.search_by_typing")
      li(ng-show="filtered", ng-repeat="type in edible_types_data.edible_types|filter:filters.edible_types|limitTo:et_quantity as filteredTypes", ng-click="updateSelectedEdibleType(type)")
        | {{type.name}}

.detail-links-container(ng-show="location.type_ids.length")
  p
    a(ng-repeat="id in location.type_ids", ng-click="removeEdibleType(id)", href="#removeType")
      | {{edible_types_data.edible_types_by_id[id].name}}
