.auth-overlay(ng-controller="AuthCtrl", ng-class="{show: authStateData.show_auth}")

  .auth-container.login
    .auth-splash-logo
    .auth-default-logo
    
    //- Language switcher
    .auth-language-switcher
      select(ng-model="languageSwitcher.locale", ng-change="languageSwitcher.applyLocale()", ng-options="key as value for (key, value) in languageSwitcher.autonyms")
      
    //- Sign in
    form(name="SignInForm", novalidate)
      .auth-input-container.email
        input(type="email", translate-attr="{placeholder: 'auth.email'}", ng-model="login_user.email", overwrite-email, required)
      .auth-input-container.password
        input(type="password", ng-attr-type="{{authStateData.show_passwords ? 'text' : 'password'}}", translate-attr="{placeholder: 'auth.password'}", ng-model="login_user.password", required)
        .visibility-toggle(ng-class="{visible: authStateData.show_passwords}", ng-click="togglePasswordVisibility()")
      .auth-btn.orange(ng-click="login()", ng-disabled="SignInForm.$invalid", translate="auth.sign_in")
    //- Forgot password
    .auth-text(ng-click="setAuthContext('forgot_password')", translate="auth.forgot_password")
    //- Sign up
    .auth-btn.dark.bottom(ng-click="setAuthContext('register')", translate="auth.sign_up")

  .auth-container.register(ng-show="authStateData.auth_context == 'register'")
    .auth-default-logo
    //- Sign up
    form(name="RegisterForm", novalidate)
      .auth-input-container.name
        input(type="text", translate-attr="{placeholder: 'auth.name'}", ng-model="register_user.name")
      .auth-input-container.email
        input(type="email", translate-attr="{placeholder: 'auth.email'}", ng-model="register_user.email", overwrite-email, required)
      .auth-input-container.password
        input(type="password", ng-attr-type="{{authStateData.show_passwords ? 'text' : 'password'}}", translate-attr="{placeholder: 'auth.password'}", ng-model="register_user.password", minlength="6", required, name="password")
        .visibility-toggle(ng-class="{visible: authStateData.show_passwords}", ng-click="togglePasswordVisibility()")
      .auth-password-help(ng-show="RegisterForm.password.$error.minlength", translate="auth.password_help")
      .auth-btn.orange(ng-click="register()", ng-disabled="RegisterForm.$invalid", translate="auth.sign_up")
    //- Cancel (back to home)
    .auth-btn.dark.bottom(ng-click="setAuthContext('login')", translate="glossary.cancel")

  .auth-container.forgot-password(ng-show="authStateData.auth_context == 'forgot_password'")
    .auth-default-logo
    //- Reset password
    form(name="ForgotPassword", novalidate)
      .auth-input-container.email
        input(type="email", name="email", translate-attr="{placeholder: 'auth.email'}", ng-model="forgot_password_user.email", overwrite-email, required)
      .auth-btn.orange(type="submit", ng-click="forgot_password()", ng-disabled="ForgotPassword.$invalid", translate="auth.send_reset_instructions")
    //- Cancel (back to home)
    .auth-btn.dark.bottom(ng-click="setAuthContext('login')", translate="glossary.cancel")
