
<div ng-controller="AuthCtrl" ng-class="show_auth == true ? 'show': ''" class="auth-overlay">
  <div ng-show="auth_context == 'login'" class="auth-container login">
    <div class="auth-logo"></div>
    <div class="auth-input-container email">
      <input type="text" placeholder="Email"/>
      <div class="auth-error-text"></div>
    </div>
    <div class="auth-input-container password">
      <input type="text" placeholder="Password"/>
      <div class="auth-error-text"></div>
    </div><a auth_context="forgot_password" class="auth-text">Forgot Password?</a>
    <div class="auth-btn-container"><a ng-click="login()" class="auth-btn-cell">Login</a><a ng-click="authContext = 'register'" class="auth-btn-cell">Register</a></div>
    <div class="auth-btn-container"><a ng-click="anonymous_login()" class="auth-btn-dark">Use Anonymously</a></div>
  </div>
  <div ng-show="authContext == 'register'" class="auth-container register">
    <div class="auth-input-container name">
      <input type="text" placeholder="Name"/>
      <div class="auth-error-text"></div>
    </div>
    <div class="auth-input-container email">
      <input type="text" placeholder="Email"/>
      <div class="auth-error-text"></div>
    </div>
    <div class="auth-input-container password-1">
      <input type="password" placeholder="Password"/>
      <div class="auth-error-text"></div>
    </div>
    <div class="auth-input-container password-2">
      <input type="password" placeholder="Confirm Password"/>
      <div class="auth-error-text"></div>
    </div><a ng-click="register()" class="auth-btn">Send confirmation</a><a ng-click="authContext = 'login'" class="auth-btn-dark">Login</a>
  </div>
  <div ng-show="auth_context == 'forgot_password'" class="auth-container forgot_password">
    <div class="auth-input-container email">
      <input type="text" placeholder="Email"/>
      <div class="auth-error-text"></div>
    </div><a ng-click="register()" class="auth-btn-light">Send reset instructions</a><a ng-click="authContext = 'login'" class="auth-btn-dark">Login</a>
  </div>
</div>