.auth-overlay {
  .screen-cover();
  top: 100%;
  .transition-all(300ms);
  z-index: @zindex-auth;
  background-color: @ff-white;
  .transform-translate(0, 0, 0);
}

.auth-overlay.show {
  .transform-translate(0, -100%, 0);
}

.auth-splash-logo {
  height: 10%;
  min-height: 100px;
  padding: 0 2%;
  background: url('../img/png/pears-header.png') center top no-repeat;
  background-size: contain;
  background-origin: content-box;
}

.auth-default-logo {
  height: 10%;
  min-height: 100px;
  background: url('../img/svg/logo-full.svg') center bottom no-repeat;
  background-size: 75% 100%;
}

div:not(.login) > .auth-default-logo {
  margin-top: 10px;
}

.auth-container {
  .screen-cover();
  z-index: @zindex-auth-inner;
}

@auth-input-icon-dim: 50px;

.auth-input-container {
  position: relative;
  background-color: @light-gray;
  margin: 20px 10%;
  overflow: hidden;
  .border-radius(5px);
}

.auth-input-container.email:before {
  .auth-input-container-bg();
  background: url('../img/svg/input-email.svg') no-repeat center center;
  background-size: 28px;
}

.auth-input-container.password:before {
  .auth-input-container-bg();
  background: url('../img/svg/input-password.svg') no-repeat center center;
  background-size: 28px;
}

.auth-input-container.name:before {
  .auth-input-container-bg();
  background: url('../img/svg/input-name.svg') no-repeat center center;
  background-size: 18px;
}

.auth-input-container.password-1:before {
  .auth-input-container-bg();
  background: url('../img/svg/input-password1.svg') no-repeat center center;
  background-size: 24px;
}

.auth-input-container.password-2:before {
  .auth-input-container-bg();
  background: url('../img/svg/input-password2.svg') no-repeat center center;
  background-size: 24px;
}

.login .email {
  margin-top: 30px;
}

.auth-input-container.password {
  margin-bottom: 0px;
}

.auth-input-container input {
  background-color: transparent;
  border: none;
  display: block;
  overflow: hidden;
  color: @gray;
  font-size: @font-size-large;
  padding: 10px 0 10px @auth-input-icon-dim;
  width: 100%;
  border: 1px solid transparent;
  &.ng-invalid.ng-touched {
    border: 1px solid @orange;
  }
}

.auth-text {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: @gray;
  font-size: @font-size-small;
}

.auth-btn-container {
  display: table;
  width: 80%;
  margin: auto;
  //border-collapse: collapse;
  border-spacing: 20px;
  table-layout: fixed;
}

.auth-btn-mixin() {
  color: white;
  background-color: @orange;
  display: block;
  padding: 10px;
  text-align: center;
  .border-radius(5px);
  &[disabled], &.invalid {
    background-color: @light-gray;
  }
}

.auth-btn {
  .auth-btn-mixin();
  border: none;
  width: 80%;
  margin: auto 10%;
}

.auth-btn-cell {
  .auth-btn-mixin();
  display: table-cell;
  border: none;
  width: 49%;
}

.auth-btn-dark {
  display: block;
  padding: 10px;
  margin: 20px 10%;
  background-color: @dark-green;
  color: white;
  text-align: center;
  .border-radius(5px);
}

.register .auth-btn-dark, .forgot-password .auth-btn-dark {
  margin-top: 20px;
}
