body {
  font-family: "Roboto";
  overflow: hidden;
}

body, ul {
  margin: 0;
  padding: 0;
}

input, textarea, a {
  font-family: "Roboto";
  font-size: @font-size-default;
}

a {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
  }
}

div, input, textarea, a, ul, li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
