.detail-btn-mixin() {
  display: block;
  background-color: @orange;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto 15%;
  .border-radius(5px);
}

.detail-btn {
  .detail-btn-mixin();
}

.detail-btn-dark {
  .detail-btn-mixin();
  background-color: @dark-green;
}

.detail-container {
  position: absolute;
  top: @menu-height;
  left: 0;
  bottom: 0;
  width: 100%;
  .vertical-scroll();
}

.detail-outer-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  z-index: @zindex-detail;
  .transform-translate(0, 0, 0);
  .transition-all(300ms);

  .loading {
    background: url('../img/gif/loader.gif') no-repeat 10% center;
    background-size: @menu-height - 27px;
    background-color: rgba(250, 249, 249, .8);
    height: @menu-height - 22px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 50%;
    max-width: 175px;
    .opacity(0);
    padding: 5px 0 0 20px;
    margin: 0 auto;
    text-align: center;
    z-index: 80;
    .border-radius(0 0 10px 10px);
    .transition(top 250ms ease-in-out, opacity 250ms ease-in-out);
    box-shadow: 0px 2px 5px #555;
    &.show {
      .opacity(1);
      top: @menu-height - 1;
    }
  }

}

.detail-outer-container.show {
  .transform-translate(-100%, 0, 0);
}

.photo-list-container {
  @height: 200px;

  display: block;
  white-space: nowrap;
  height: @height;
  .horizontal-scroll();
  background: @lighter-gray;

  .photo-list {
    list-style-type: none;

    li {
      display: inline-block;

      img {
        height: @height;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }
}

.location-info {
  border-bottom: solid 2px @light-gray;
  padding: 10px 20px;
}

.location-info > div:not(.tag-list) {
  padding: 5px 0;
}

.location-types {
  color: @orange;
  font-size: @font-size-large;
}

.location-description {
  line-height: @font-size-default + 4px;
  padding: 10px 20px;
}

.location-author {
  font-size: @font-size-small;
  font-style: italic;
  padding: 0 20px;
}

.btn-location-reviews {
  display: block;
  padding: 20px 0 10px 0;
  text-align: center;
}

.detail-btn-container {
  border-spacing: 20px 0px;
  display: table;
  margin: 20px auto;
  table-layout: fixed;
  width: 80%;
}

.detail-btn-container .detail-btn-dark {
  display: table-cell;
  width: 49%;
}

.detail-input-container-mixin() {
  background-color: @light-gray;
  margin: 20px 10%;
  overflow: hidden;
  position: relative;
  .border-radius(5px);
}

.detail-input-container {
  .detail-input-container-mixin();
  input {
    background-color: transparent;
    display: block;
    overflow: hidden;
    border: none;
    color: @gray;
    padding: 10px 0 10px 10px;
    width: 100%;
  }
  ul.select-dropdown {
    border-top: 1px solid @lighter-gray;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
    li {
      border-bottom: 1px solid @lighter-gray;
      cursor: pointer;
      padding: 10px;
      text-align: left;
      &:hover {
        color: @orange;
      }
    }
  }
}

.detail-links-container {
  .detail-input-container-mixin();
  padding: 0 20px 0 10px;
  p {
    margin: 0;
  }
  a {
    background: url("../img/svg/cross.svg") no-repeat center right;
    background-size: 12px;
    border-bottom: 1px solid @lighter-gray;
    color: @ff-black;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 5px 20px 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.detail-slider-container {
  .detail-input-container-mixin();
  padding-right: 20px;
  padding-left: 15px;
}

.detail-slider-container .detail-slider-text {
  text-align: center;
  height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.detail-slider-container slider {}

.detail-select-container {
  .detail-input-container-mixin();
  padding: 10px;
  //text-align: center;
  &:after {
    background: url("../img/svg/control-arrow-downward.svg") no-repeat center 10px;
    background-size: 20px;
    content: " ";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    pointer-events: none;
  }
  select {
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
}

.detail-textarea-container {
  .detail-input-container-mixin();
  padding: 5px;
}


.detail-textarea-container textarea {
  resize: none;
  height: 100px;
  border: none;
  background-color: transparent;
  width: 100%;
  //font-size: @font-size-small;
}

.detail-textarea-container.location textarea {
  height: 150px;
}

.detail-range-container {
  display: table;
  table-layout: fixed;
  width: 80%;
  margin: 10px 10%;
  padding-left: 10px;
}

.detail-range-label-1 {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
}

.detail-range-label-2 {
  display: table-cell;
  vertical-align: middle;
  width: 80px;
}

@input-range-dim: 28px;

.detail-range-control {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.detail-range-control input[type="range"] {
  -webkit-appearance: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  display: block;
  width: 100%;
  height: @input-range-dim + 2px;
  margin: 10px 0;
  background-color: @light-gray;
  padding: 2px;
  .border-radius(@input-range-dim);
}

.detail-range-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: @input-range-dim;
  width: @input-range-dim;
  border: solid 1px @gray;
  background-color: white;
  .border-radius(@input-range-dim);
}

.detail-toggle-container {
  display: table;
  width: 80%;
  margin: 10px 10%;
  padding-left: 10px;
}

.detail-toggle-label {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.detail-btn.btn-photo {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  &:before {
    content: " ";
    position: absolute;
    top: 6px;
    left: 10px;
    background: @orange url("../img/svg/input-photo.svg") no-repeat center left;
    background-size: 25px;
    height: 25px;
    width: 25px;
  }
}

.btn-photo input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn-save {
  margin-bottom: 20px;
}

.tag-list {
  font-size: @font-size-small;

  .tag {
    white-space: nowrap;
    padding: 1px 4px;
    margin: 5px 4px 5px 0;
    background: @lighter-gray;
    display: inline-block;

    .label {
      color: @gray;
      display: inline;
    }
  }
}

.small {
  font-size: @font-size-small;
}

.gray {
  color: @gray;
}

.i {
  font-style: italic;
}

.nowrap {
  white-space: nowrap;
}

/* Placeholder styling: */

@placeholder-gray: #999;

.placeholder {
  color: @placeholder-gray;
}
::-webkit-input-placeholder {
  color: @placeholder-gray;
}
:-moz-placeholder {
  color: @placeholder-gray;
}
::-moz-placeholder {
  color: @placeholder-gray;
}
:-ms-input-placeholder {
  color: @placeholder-gray;
}
