@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Italic";
  font-style: italic;
  src: url("../font/Roboto-Italic.ttf");
}


@font-face {
  font-family: "Roboto-Bold";
  font-style: bold;
  src: url("../font/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Bold-Italic";
  font-style: italic bold;
  src: url("../font/Roboto-BoldItalic.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto-Light";
  font-style: italic;
  src: url("../font/Roboto-LightItalic.ttf");
}