@list-item-image-width: 70px;
@list-item-image-padding: 10px;

.list-item {
  position: relative;
  display: block;
  border-bottom: solid 1px @light-gray;
  height: @list-item-image-width + @list-item-image-padding * 2;
  overflow: hidden;
  padding: @list-item-image-padding;
}

.list-item-image {
  position: absolute;
  width: @list-item-image-width;
  top: @list-item-image-padding;
  bottom: @list-item-image-padding;
  left: @list-item-image-padding;
  right: @list-item-image-padding;  
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @light-gray;
  .border-radius(5px);
}

.list-item-info-container {
  margin-left: @list-item-image-width + 20px;
}

.list-item-distance {
  color: black;
  line-height: @font-size-default + 4px;
  margin: 0 0 4px 0;
}

.list-item-name {
  color: @orange;
  font-size: @font-size-large;
  .text-overflow-ellipsis;
}

.list-item-description {
  margin: 5px 0 0 0;
  font-size: @font-size-small;
  height: @font-size-small + 2px;
  line-height: @font-size-small + 2px;
  color: @gray;
  .text-overflow-ellipsis;
}