.review-container {
  position: static;
  left: @list-item-image-width + @list-item-padding * 2;
  right: @list-item-padding * 4;
  font-size: @font-size-small;
  margin-left: 80px;
}

.review-author {
  color: @gray;
  font-style: italic;
}
