.content-container() {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

// HEADER

.search-menu {
  background-color: @ff-white;
  border-bottom: solid 1px @light-gray;
  height: @menu-height;
  left: 0;
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}

.ios7 .search-menu {
  height: @map-menu-height + @ios7-offset;
}

.current-location {
  background: url("../img/svg/control-me.svg") no-repeat center center;
  background-size: 30px;
  height: @map-menu-height;
  position: absolute;
  width: @map-menu-height + 5px;
}

.ios7 .current-location {
  top: @ios7-offset;
}

.search-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: @zindex-search;
}

.search-inner-container {
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: -100%;
  overflow: hidden;
  .transform-translate(0, 0, 0);
  .transition-all(300ms);

  &.show {
    .transform-translate(@search-side-menu-width, 0, 0);
  }
}

.search-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  overflow: hidden;

  .loading {
    background: url('../img/gif/loader.gif') no-repeat 10% center;
    background-size: @menu-height - 40;
    background-color: rgba(250, 249, 249, .8);
    height: @menu-height - 35;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    .opacity(0);
    padding: 4px 0 0;
    margin: 0 auto;
    text-align: center;
    z-index: 80;
    .border-radius(0 0 10px 10px);
    .transition(top 250ms ease-in-out, opacity 250ms ease-in-out);
    box-shadow: 0px 2px 5px #555;
    &.show {
      .opacity(1);
      top: @menu-height - 1;
    }
  }
}

.search-view-container {
  background-color: white;
  bottom: @map-footer-height;
  position: absolute;
  top: @map-menu-height;
  width: 200%;
}

.search-input-container {
  position: relative;
  background-color: @light-gray;
  margin: 10px 15px 0 @map-menu-height + 8px;
  overflow: hidden;
  .border-radius(5px);
}

.search-input-container input[type=submit] {
  .auth-input-container-bg(38px);
  background: url('../img/svg/input-search.svg') no-repeat center center;
  background-size: 20px;
  border: none;
  outline: none;
}

.search-input-container input[type=text] {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: @gray;
  font-size: @font-size-large;
  padding: 0 0 0 38px;
  height: @map-menu-height - 20px;
  line-height: @map-menu-height - 20px;
  width: 100%;
}

.zoom-controls {
  position: absolute;
  left: 0;
  top: @map-menu-height;
  width: @map-menu-height;
  height: 2 * @map-menu-height;
  z-index: @zindex-map + 1;
  background-color: @ff-white;
  .opacity(0.75);
  div {
    border-bottom: solid 1px @light-gray;
    height: @map-menu-height;
    width: @map-menu-height;
  }
}

.zoom-in {
  background: url("../img/svg/cross.svg") no-repeat center center;
  background-size: 30px;
}

.zoom-out {
  background: url("../img/svg/check.svg") no-repeat center center;
  background-size: 30px;
}

// MAP

.map-container {
  .content-container();
  overflow: hidden;
  z-index: @zindex-map;
}

.angular-google-map-container {
  position: absolute;
  top: @map-menu-height;
  bottom: @map-footer-height;
  width: 100%;
}

.ios7 .angular-google-map-container {
  top: @map-menu-height + @ios7-offset;
}

.map {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.crosshair {
  @height: 200px; /* must be in pixels */

  position: absolute;
  height: @height;
  width: @height;
  top: 50%;
  left: 50%;
  margin: -(@height/2) 0 0 -(@height/2); /* margins are all relative to item width */
  z-index: 99999;
  pointer-events: none;
  background: url("../img/svg/crosshair-small-green.svg") no-repeat center center;
  background-size: 100%;
  .opacity(0.8);

  &.add {
    background: url("../img/svg/crosshair-large-green.svg") no-repeat center center;
    background-size: 100%;
    .opacity(1);
  }
}

// LIST

.list-container {
  .content-container();
  .vertical-scroll-fast();
  background-color: white;
  z-index: @zindex-list;
  .transform-translate(0, 0, 0);
  .transition-all(300ms, linear);
  left: -50%;

  &.show {
    .transform-translate(100%, 0, 0);
  }
}

// FOOTER

.search-footer {
  background-color: @ff-white;
  border-top: solid 1px @light-gray;
  bottom : 0;
  height: @map-footer-height;
  left: 0;
  position: absolute;
  width: 100%;

  .controls {
    height: @map-footer-height;
    width: @map-footer-height;
  }
  .settings {
    background: url("../img/svg/control-settings.svg") no-repeat center center;
    background-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .add-location {
    background: url("../img/svg/control-add.svg") no-repeat center center;
    background-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .btn-group-container {
    display: block;
    margin: 0 @map-footer-height;
  }
}

.add-location-controls {
  position: absolute;
  right: 0;
  bottom: 0;
  height: @map-footer-height * 2;
  width: @map-footer-height;
  z-index: @zindex-map + 1;
  background-color: @ff-white;
  display: none; // avoid controls flashing on and off
  &.show {
    display: block;
  }
  div {
    border-top: solid 1px @light-gray;
  }
}

.cancel-add-location {
  background: url("../img/svg/cross.svg") no-repeat center center;
  background-size: 30px;
}

.confirm-add-location {
  background: url("../img/svg/check.svg") no-repeat center center;
  background-size: 30px;
}

.btn-group {
  display: table;
  width: 90%;
  margin: 7px 5%;
  border: solid 2px @green;
  .border-radius(5px);
}

.btn-group-btn() {
  display: table-cell;
  height: @map-footer-height - 20px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.btn-map {
  .btn-group-btn();
}

.btn-list {
  .btn-group-btn();
  border-left: solid 2px @green;
}

.btn-group .active {
  background-color: @green;
  color: white;
}
