.angular-google-map-container {
  position: absolute;
  top: @map-menu-height;
  bottom: @map-footer-height;
  width: 100%;
}

.search-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: @zindex-search;
}

.search-inner-container {
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: -100%;
  overflow: hidden;
  .transition(300ms);
}

.search-inner-container.show {
  .transform-translate(@search-side-menu-width, 0, 0);
}

.search-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  overflow: hidden;
  .loading{
    background: url('../img/loader-2.gif') no-repeat 8% center rgba(250, 249, 249, .8);
    height: 40px;
    left: 25%;
    opacity: 0;
    padding: 10px 0 0 30px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50%;
    z-index: 80;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -webkit-transition: top .25s ease-in-out, opacity .25s ease-in-out;
    transition: top .25s ease-in-out, opacity .25s ease-in-out;
    box-shadow: 0px 2px 5px #555;
    &.show {
      opacity: 1;
      top: 51px;
    }
  }
}

.search-menu {
  background-color: @ff-white;
  border-bottom: solid 1px @light-gray;
  height: @map-menu-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 90;
}

.ios7 .search-menu {
  height: @map-menu-height + @ios7-offset;
}

.current-location {
  position: absolute;
  width: @map-menu-height + 5px;
  height: @map-menu-height;
  background: url("../img/svg/control-me.svg") no-repeat center center;
  background-size: 30px;
}

.ios7 .current-location {
  top: @ios7-offset;
}

.ios7 .angular-google-map-container {
  top: @map-menu-height + @ios7-offset;
}

.search-view-container {
  position: absolute;
  top: @map-menu-height;
  bottom: @map-footer-height;
  width: 200%;
  background-color: white;
}

.content-container() {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.map-add-location {
  display: none;
  position: absolute;
  &.active {
    background: rgba(0,0,0,.15);
    display: block;
    height: 95px;
    left: 25%;
    padding: 10px;
    margin: -41px 0 0 -34px;
    top: 50%;
    width: 78px;
    z-index: 99999;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
  }
}
.map-container {
  .content-container();
  overflow: hidden;
  z-index: @zindex-map;
}

.list-container {
  .content-container();
  .vertical-scroll();
  background-color: white;
  z-index: @zindex-list;
  .transition(300ms, linear);
  left: -50%;
}

.list-container.show {
  .transform-translate(100%, 0, 0);
}

.search-footer {
  background-color: @ff-white;
  border-top: solid 1px @light-gray;
  bottom : 0;
  height: @map-footer-height;
  left: 0;
  position: absolute;
  width: 100%;

  .settings {
    background: url("../img/svg/control-settings.svg") no-repeat center center;
    background-size: 30px;
    height: @map-footer-height;
    left: 0;
    position: absolute;
    top: 0;
    width: @map-footer-height;
  }
  .btn-group-container {
    display: block;
    margin: 0 @map-footer-height;
  }
  .add-location {
    background: url("../img/svg/control-add.svg") no-repeat center center;
    background-size: 30px;
    height: @map-footer-height;
    position: absolute;
    top: 0;
    right: 0;
    width: @map-footer-height;
    &.active {
      background: url("../img/svg/map-location-full.svg") no-repeat center center;
    }
  }
}

.btn-group {
  display: table;
  width: 90%;
  margin: 7px 5%;
  border: solid 2px @green;
  .border-radius(5px);
}

.btn-group-btn() {
  display: table-cell;
  height: @map-footer-height - 20px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}

.btn-map {
  .btn-group-btn();
}

.btn-list {
  .btn-group-btn();
  border-left: solid 2px @green;
}

.btn-group .active {
  background-color: @green;
  color: white;
}

.search-input-container {
  position: relative;
  background-color: @light-gray;
  margin: 10px 15px 0 @map-menu-height + 8px;
  overflow: hidden;
  .border-radius(5px);
}

.search-input-container input[type=submit] {
  .auth-input-container-bg(38px);
  background: url('../img/svg/input-search.svg') no-repeat center center;
  background-size: 20px;
  border: none;
  outline: none;
}

.search-input-container input[type=text] {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: @gray;
  font-size: @font-size-large;
  padding: 0 0 0 38px;
  height: @map-menu-height - 20px;
  line-height: @map-menu-height - 20px;
  width: 100%;
}

//MAP
.map {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}


