//SEARCH SIDE MENU

.search-side-menu {
  position: absolute;
  width: @search-side-menu-width;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: @side-menu-bg-color;
  color: white;
}

.search-params-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: @btn-logout-container-height;
  width: @search-side-menu-width;
  .vertical-scroll();
}

.search-param-header {
  font-family: "PT-Sans-Bold";
  padding: 10px 0 10px 15px;
  border-bottom: solid 1px @gray;
  background: fade(@gray, 40%);
}

// Radio buttons

.search-param-radio {
  padding-left: 15px;
  height: 45px;
  line-height: 45px;
  position: relative;
  display: block;
}

.search-radio-container {
  position: absolute;
  content: " ";
  top: 14px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: @orange;
  .border-radius(20px);
}

.search-radio-active {
  position: absolute;
  content:  " ";
  top: 6px;
  left: 6px;
  height: 8px;
  width: 8px;
  background-color: red;
  .border-radius(10px);
}

// Dropdown select

.search-param-select {
  cursor: pointer;
  height: auto;
  min-height: 45px;
  padding-left: 15px;
  position: relative;

  .reset {
    background: url("../img/svg/cross.svg") no-repeat center center @side-menu-bg-color;
    background-size: 18px;
    height: 40px;
    position: absolute;
    right: -2px;
    top: 0;
    width: 25px;
  }

  .label {
    background: transparent;
    border: none;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    margin-right: 60px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .detail-input-container {
    background-color: transparent;
    margin: 0;
    padding-bottom: 10px;
    width: 91.5%;
    .vertical-scroll();
    
    input {
      background: url("../img/svg/control-arrow-downward.svg") no-repeat 100% 10px;
      background-size: 20px;
      color: @ff-white;
      padding: 10px 25px 0 0;
    }
    
    ul.select-dropdown {
      border-top: solid 2px @gray;
      border-bottom: solid 2px @gray;
      
      li {
        border-bottom: solid 1px @gray;
        padding: 10px 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  
  .detail-links-container {
    margin: 0;
    padding: 0 24px 10px 0;
    background-color: transparent;
        
    a {
      border: none;
      color: @ff-white;
    }
  }
}

// LOGOUT

.btn-logout-container {
  display: block;
  position: absolute;
  bottom:0;
  width: 100%;
  height: @btn-logout-container-height;
  border-top: solid 1px @side-menu-border-color;
  text-align: center;
  overflow: hidden;
}

.btn-logout {
  display: inline-block;
  height: @btn-logout-container-height - 20px;
  line-height: @btn-logout-container-height - 20px;
  padding: 0 50px;
  margin: 10px auto;
  background-color: rgba(61, 62, 62, 1);
  color: white;
  .border-radius(5px);
}
