//Z INDEXES FOR VARIOUS ELEMENTS

@zindex-ngview: 10;

@zindex-main: 20;
@zindex-menu: 30;
@zindex-auth: 40;

@zindex-loading: 50;
@zindex-message: 60;


//COLORS:

@orange: orange;
@input-control-background: lightgray;
@input-control-text: gray;
@button-gray: darkgray;

