.auth-overlay(ng-controller="AuthCtrl", ng-class="{show: authStateData.show_auth}")

  .auth-container.login(ng-show="authStateData.auth_context == 'login'")
    .auth-splash-logo
    .auth-default-logo
    //- Sign in
    form(name="SignInForm", novalidate)
      .auth-input-container.email
        input(type="email", placeholder="[{ 'auth.email' | translate }]", ng-model="login_user.email", required)
        .auth-error-text()
      .auth-input-container.password
        input(type="[{authStateData.show_passwords ? 'text' : 'password'}]", placeholder="[{ 'auth.password' | translate }]", ng-model="login_user.password", required)
        .visibility-toggle(ng-class="{visible: authStateData.show_passwords}", ng-click="togglePasswordVisibility()")
        .auth-error-text()
      .auth-btn.orange(ng-click="login()", ng-class="{invalid: SignInForm.$invalid}", translate = "auth.sign_in")
    //- Forgot password
    .auth-text(ng-click="setAuthContext('forgot_password')", translate = "auth.forgot_password")
    //- Sign up
    .auth-btn.dark.bottom(ng-click="setAuthContext('register')", translate = "auth.sign_up")

  .auth-container.register(ng-show="authStateData.auth_context == 'register'")
    .auth-default-logo
    //- Sign up
    form(name="RegisterForm", novalidate)
      .auth-input-container.name
        input(type="text", placeholder="[{ 'auth.name' | translate }]", ng-model="register_user.name")
        .auth-error-text()
      .auth-input-container.email
        input(type="email", placeholder="[{ 'auth.email' | translate }]", ng-model="register_user.email", required)
        .auth-error-text()
      .auth-input-container.password
        input(type="[{authStateData.show_passwords ? 'text' : 'password'}]", placeholder="[{ 'auth.password' | translate }]", ng-model="register_user.password", required)
        .visibility-toggle(ng-class="{visible: authStateData.show_passwords}", ng-click="togglePasswordVisibility()")
        .auth-error-text()
      .auth-btn.orange(ng-click="register()", ng-class="{invalid: RegisterForm.$invalid}", translate = "auth.sign_up")
    //- Cancel (back to home)
    .auth-btn.dark.bottom(ng-click="setAuthContext('login')", translate = "glossary.cancel")

  .auth-container.forgot-password(ng-show="authStateData.auth_context == 'forgot_password'")
    .auth-default-logo
    //- Reset password
    form(name="ForgotPassword", novalidate)
      .auth-input-container.email
        input(type="email", name="email", placeholder="[{ 'auth.email' | translate }]", ng-model="forgot_password_user.email", required)
        .auth-error-text()
      .auth-btn.orange(type="submit", ng-click="forgot_password()", ng-disabled="ForgotPassword.$invalid", translate = "auth.send_reset_instructions")
    //- Cancel (back to home)
    .auth-btn.dark.bottom(ng-click="setAuthContext('login')", translate = "glossary.cancel")
