.auth-overlay(ng-class="show_auth == true ? 'show': ''")

  .auth-container.login(ng-show="auth_context == 'login'")
    .auth-input-container.email
      input(type="text", placeholder="Email")
      .auth-error-text()
    .auth-input-container.password
      input(type="text", placeholder="Password")
      .auth-error-text()

    a.auth-text(auth_context="forgot_password") Forgot Password?

    .auth-btn-container
      a.auth-btn-light(ng-click="login()") Login
      a.auth-btn-light(ng-click="authContext = 'register'") Register
    a.auth-btn-dark(ng-click="anonymous_login()") Use Anonymously

  .auth-container.register(ng-show="authContext == 'register'")
    .auth-input-container.name
      input(type="text", placeholder="Name")
      .auth-error-text()
    .auth-input-container.email
      input(type="text", placeholder="Email")
      .auth-error-text()
    .auth-input-container.password-1
      input(type="password", placeholder="Password")
      .auth-error-text()
    .auth-input-container.password-2
      input(type="password", placeholder="Confirm Password")
      .auth-error-text()

    a.auth-btn-light(ng-click="register()") Send confirmation

    a.auth-btn-dark(ng-click="authContext = 'login'") Login

  .auth-container.forgot_password(ng-show="auth_context == 'forgot_password'")
    .auth-input-container.email
      input(type="text", placeholder="Email")
      .auth-error-text()

    a.auth-btn-light(ng-click="register()") Send reset instructions

    a.auth-btn-dark(ng-click="authContext = 'login'") Login
