.auth-overlay(ng-controller="AuthCtrl", ng-class="{show: authStateData.show_auth}")

  .auth-container.login(ng-show="authStateData.auth_context == 'login'")
    .auth-splash-logo
    .auth-default-logo
    .auth-input-container.email
      input(type="text", placeholder="Email", ng-model="login_user.email")
      .auth-error-text
    .auth-input-container.password
      input(type="password", placeholder="Password", ng-model="login_user.password")
      .auth-error-text

    //-a.auth-text(ng-click="setAuthContext('forgot_password')") Forgot password?

    .auth-btn-container
      a.auth-btn-cell(ng-click="login()") Sign in
      a.auth-btn-cell(ng-click="setAuthContext('register')") Register

    //- .auth-btn-container
    //-   a.auth-btn-dark(ng-click="anonymous_login()") Use anonymously

  .auth-container.register(ng-show="authStateData.auth_context == 'register'")
    .auth-default-logo
    .auth-input-container.name
      input(type="text", placeholder="Name", ng-model="register_user.name")
      .auth-error-text()
    .auth-input-container.email
      input(type="text", placeholder="Email", ng-model="register_user.email")
      .auth-error-text()
    .auth-input-container.password-1
      input(type="password", placeholder="Password", ng-model="register_user.password")
      .auth-error-text()
    .auth-input-container.password-2
      input(type="password", placeholder="Confirm password", ng-model="register_user.password_confirmation")
      .auth-error-text()

    a.auth-btn(ng-click="register()") Send confirmation

    a.auth-btn-dark(ng-click="setAuthContext('login')") Login

  //.auth-container.forgot-password(ng-show="authStateData.auth_context == 'forgot_password'")
  //  .auth-default-logo
  //  .auth-input-container.email
  //    input(type="text", placeholder="Email", ng-model="forgot_password_user.email")
  //    .auth-error-text()

  //  a.auth-btn(ng-click="forgot_password()") Send reset instructions

  //  a.auth-btn-dark(ng-click="setAuthContext('login')") Login
