.detail-outer-container(ng-controller="DetailCtrl", ng-class="show_detail == true? 'show': ''")
  include partials/menu

  include partials/view_location
  include partials/add_location
  include partials/view_reviews
  include partials/add_review

