.search-outer-container(ng-controller="SearchCtrl")
  //-.loading-indicator
  .search-inner-container(ng-class="{show: show_menu}")
    .search-container
      ff-loading-msg

      .search-menu
        .current-location(ng-click="update_position()")

        .search-input-container
          form(ng-submit="location_search()")
            input(type="submit", value="")
            input(type="text", placeholder="Enter a location...", ng-model="search_text")

      .search-view-container
        .map-container(directionstype="directions_type", stoplist="stopList")
          .crosshair(ng-class="{add: add_location}")
        
        include partials/list

      .search-footer
        .settings(class="controls" ng-click="show_menu = !show_menu")
        .btn-group-container
          .btn-group
            .btn-map(ng-class="current_view == 'map' ? 'active' : ''", ng-click="show_map()") Map
            .btn-list(ng-class="current_view == 'list' ? 'active' : ''", ng-click="show_list()") List
        .add-location(class="controls" ng-click="begin_add_location()")
        .add-location-controls(ng-class="{show: add_location}")
          .cancel-add-location(class="controls" ng-click="cancel_add_location()")
          .confirm-add-location(class="controls" ng-click="show_detail()")

    include partials/search_side_menu
