.search-outer-container(ng-controller="SearchCtrl")
  //-.loading-indicator
  .search-inner-container(ng-class="show_menu == true ? 'show': ''")
    .search-container
      .search-menu
        .current-location

        .search-input-container
          input(type="text", placeholder="Enter a location...", ng-model="search_text")



      .search-view-container
        .map-container(directionstype="directions_type", stoplist="stopList")
        
        include partials/list

      .search-footer
        .settings(ng-click="show_menu = !show_menu")
        .btn-group-container
          .btn-group
            .btn-map(ng-class="current_view == 'map' ? 'active' : ''", ng-click="current_view = 'map'") Map
            .btn-list(ng-class="current_view == 'list' ? 'active' : ''", ng-click="current_view = 'list'") List
        .add(ng-click="show_detail()")

    //- ui-gmap-google-map(center='map.center' zoom='map.zoom')
    include partials/search_side_menu