.search-outer-container(ng-controller="SearchCtrl")
  //-.loading-indicator
  .search-inner-container(ng-class="{show: show_menu}")
    .search-container
      ff-loading-msg

      .search-menu
        .current-location(ng-click="update_position()")

        .search-input-container
          form(ng-submit="location_search()")
            input(type="submit", value="")
            input(type="text", placeholder="Enter a location...", ng-model="search_text")

      .search-view-container
        .map-add-location(ng-class="{active: show_add_location}")
          img(src="img/png/control-add.png" alt="Add Location")
        .map-container(directionstype="directions_type", stoplist="stopList")

        include partials/list

      .search-footer
        .settings(ng-click="show_menu = !show_menu")
        .btn-group-container
          .btn-group
            .btn-map(ng-class="current_view == 'map' ? 'active' : ''", ng-click="show_map()") Map
            .btn-list(ng-class="current_view == 'list' ? 'active' : ''", ng-click="show_list()") List
        .add-location(ng-click="show_detail()", ng-class="show_add_location == true ? 'active': ''")

    include partials/search_side_menu
