.search-outer-container(ng-controller="SearchCtrl")
  //-.loading-indicator
  .search-inner-container(ng-class="show_menu == true ? 'show': ''")
    .search-container
      .search-menu
        .current-location

        .search-input-container
          input(type="text", placeholder="Enter a location...", ng-model="search_text")



      .search-view-container
        .map-container(directionstype="directions_type", stoplist="stopList")
        

      .search-footer
        .settings(ng-click="show_menu = !show_menu")
        .toggle-container
        .add(ng-click="show_detail()")

    //- ui-gmap-google-map(center='map.center' zoom='map.zoom')
    .search-side-menu-container
      .search-side-menu
        .search-params-container
        a.btn-logout-container(ng-click="logout()")
          .btn-logout Sign out

