doctype
html(lang="en")
  head
    title Falling Fruit App v0.2

    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,user-scalable=0,maximum-scale=1.0")

    link(rel="stylesheet", type="text/css", href="css/lib/angular-csp.css")
    link(rel="stylesheet", type="text/css", href="css/lib/angular-slider.css")
    //-link(rel="stylesheet", type="text/css", href="css/lib/angular-snap.css")
    //-link(rel="stylesheet", type="text/css", href="http://code.ionicframework.com/nightly/css/ionic.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")

  body
    .main-container
      include jade/search
      include jade/detail
      include jade/auth

    script(type="text/javascript", src="js/lib/fastclick.js")
    script(type="text/javascript", src="js/lib/lodash.min.js")
    //-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?client=gme-fallingfruit&v=3.17")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm7gTRTOlOIsum_KOwfM-X13RYexMW41M&libraries=geometry")
    script(type="text/javascript", src="js/lib/angular.js")
    script(type="text/javascript", src="js/lib/angular-route.js")
    script(type="text/javascript", src="js/lib/angular-touch.js")
    script(type="text/javascript", src="js/lib/angular-animate.js")
    script(type="text/javascript", src="js/lib/angular-slider.js")
    //-script(type="text/javascript", src="js/lib/angular-snap.js")
    //-script(type="text/javascript", src="js/lib/snap.js")
    //-script(type="text/javascript", src="js/lib/angular-google-maps.min.js")
    script(type="text/javascript", src="js/lib/angular-validation-match.min.js")
    //-script(type="text/javascript", src="http://code.ionicframework.com/nightly/js/ionic.bundle.js")
    script(type="text/javascript", src="js/all.js")
    script(type="text/javascript", src="cordova.js")
