doctype
html(lang="en", ng-app="FallingFruitApp")
  head
    title Falling Fruit App v1.0

    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-touch-fullscreen",content="YES")

    meta(name="viewport", content="initial-scale=1.0, user-scalable=0, maximum-scale=1.0")

    meta(name="format-detection",content="telephone=no")

    link(rel="stylesheet", type="text/css", href="css/angular-csp.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")

  body

    include jade/menu

    .ng-view-container(ng-view, ng-class="transition_class")

    include jade/auth

    script(type="text/javascript", src="cordova.js")
    //-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=[API_KEY]&sensor=false")
    script(type="text/javascript", src="js/lib/underscore.js")
    script(type="text/javascript", src="js/lib/angular.js")
    script(type="text/javascript", src="js/lib/angular-route.js")
    script(type="text/javascript", src="js/lib/angular-touch.js")
    script(type="text/javascript", src="js/lib/angular-animate.js")
    script(type="text/javascript", src="js/all.js")