.detail-container(ng-show="detail_context=='add_location' || detail_context=='edit_location'")
  
  form(name="AddLocationForm", novalidate)
  
    location-type-select(location="location")

    .detail-textarea-container.location
      textarea(translate-attr="{placeholder: 'add_location.description'}", ng-model="location.description")

    //- Empty option allows null selection
    //- Converting ng-options to number ensures they match the model.
    .detail-select-container
      span(ng-class="{placeholder: location.access == null}", ng-bind="location.access == null ? ('glossary.access' | translate) : short_access_types[location.access]")
      select(ng-model="location.access", ng-options="i*1 as access for (i,access) in short_access_types")
        option(value=null)

    .detail-toggle-container
      .detail-toggle-label(ng-class="{placeholder: !location.unverified}", translate="glossary.unverified")
      .ng-switcher(toggle="location.unverified")

    include repeated_review_fields
  
  .detail-btn.orange(ng-click="save_location()", ng-disabled="!location.type_ids.length", translate="glossary.save")
