.detail-container(ng-show="detail_context=='add_location'")  
  .detail-select-container 
    | [{location.type_ids == undefined ? "Source type" : source_types_by_id[location.type_ids[0]].name}]
    select(ng-model="location.type_ids[0]", ng-options="type.id as type.name for type in source_types")

  //.detail-input-container
  //  input(type="text", placeholder="?", ng-model="location.lat")
  //.detail-input-container
  //  input(type="text", placeholder="?", ng-model="location.lng")                
  
  .detail-textarea-container.location
    textarea(ng-model="location.description")

  .detail-select-container 
    | [{location.access == undefined ? "Access" : short_access_types[location.access]}]
    select(ng-model="location.access", ng-options="i as access for (i,access) in short_access_types")

  .detail-toggle-container
    .detail-toggle-label Unverified
    .ng-switcher(toggle="location.unverified")


  //-SEASONALITY

  .detail-btn-dark.btn-save(ng-click="save_location()") Save
