.detail-container(ng-show="detail_context=='add_location'")
  .detail-input-container
    input(type="text", placeholder="Title...", ng-model="location.title")    


  .detail-btn.btn-photo Take a photo
  .detail-btn-dark Save