.fullscreen-select-container
  .fullscreen-select
    .fullscreen-select-title  Select edible types
    .fullscreen-select-list
      a.fullscreen-select-option.selected(href = "#") Option 1
      a.fullscreen-select-option(href = "#") Option 2
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
      a.fullscreen-select-option(href = "#") Option 3
    .fullscreen-select-buttons
      a.save(href = "#") Save
      a.clear(href = "#") Clear
      a.cancel(href = "#") Cancel
