.list-container(ng-class="current_view == 'list' ? 'show' : ''")
  a.list-item(ng-click="show_location(li.id)", ng-repeat="li in list_items track by li.id")
    .list-item-image(ng-style="li.style")

    .list-item-info-container
      .list-item-distance(ng-bind="li.distance_string")
      .list-item-name(ng-bind="::li.type_names.join(', ')")
      .list-item-description(ng-bind="::li.description")

    //-.list-item-map(ng-click="show_location_on_map(li.location_id); $event.stopPropagation();")
