.search-side-menu-container
  .search-side-menu
    .search-params-container
      .search-param-header Map
      a.search-param-radio
        | Street
        .search-radio-container
          .search-radio-active(ng-click="map_options.type='street'")
      a.search-param-radio
        | Satellite
        .search-radio-container
          .search-radio-active(ng-click="map_options.type='satellite'")

      

    a.btn-logout-container(ng-click="logout()")
      .btn-logout Sign out

