.search-side-menu(ng-controller="MenuCtrl", ng-swipe-left="toggleSideMenu()")
  .search-params-container

    .search-param-header Map
    a.search-param-radio(ng-click="toggle_terrain()")
      | Terrain
      .search-radio-container
        .search-radio-active(ng-show="mapTypeId == 'terrain'")
    a.search-param-radio(ng-click="toggle_hybrid()")
      | Satellite
      .search-radio-container
        .search-radio-active(ng-show="mapTypeId == 'hybrid'")
    a.search-param-radio(ng-click="toggle_bicycle()")
      | Bicycle
      .search-radio-container
        .search-radio-active(ng-show="layer == 'bicycle'")
    a.search-param-radio(ng-click="toggle_transit()")
      | Transit
      .search-radio-container
        .search-radio-active(ng-show="layer == 'transit'")

    .search-param-header Filters

    a.search-param-radio(ng-click="toggle_muni()")
      | Tree inventories
      .search-radio-container
        .search-radio-active(ng-show="muni")

    .search-param-select
      edible-types-filter-single

    .search-param-header Regional
    a.search-param-radio(ng-click="toggle_metric()")
      | Metric units
      .search-radio-container
        .search-radio-active(ng-show="metric")

  a.btn-logout-container(ng-click="logout()")
    .btn-logout Sign out
