.detail-container(ng-show="detail_context=='view_location'")

  // Photos
  .photo-list-container(ng-show="location.photos.length > 0")
    ul.photo-list
      li(ng-repeat="photo in location.photos")
        img(ng-src="[{photo.url}]")
  
  // Details
  .location-info
    .location-types
      span(ng-repeat="id in location.type_ids") [{source_types_by_id[id].name}][{$last ? '' : ', '}]
    //-div [{location.lat.toFixed(5)}], [{location.lng.toFixed(5)}]
    div(ng-show="location.current_distance == location.map_distance") [{location.current_distance}]
    div(ng-show="location.current_distance != location.map_distance")
        span(ng-show="location.current_distance") [{location.current_distance}] (from me) &nbsp;/ &nbsp;
        span [{location.map_distance}] (from map center)
    .tag-list
      .tag(ng-show="location.season_string")
        .label Season
        | &nbsp; [{location.season_string}]
      .tag(ng-show="location.access != null")
        .label [{location.access_string}]
      .tag(ng-show="location.unverified")
        .label Unverified
  
  // Description
  .location-description [{location.description}]
  .location-author 
    div Added [{location.created_at | date : 'MMMM d, yyyy'}] by [{location.author? location.author : "Anonymous"}]
    div(ng-show="location.updated_at.toDateString() != location.created_at.toDateString()") Updated [{location.updated_at | date : 'MMMM d, yyyy'}]
  
  // Buttons
  //-a.btn-location-reviews(ng-click="show_reviews()", ng-show="location.num_reviews > 0") Read reviews ([{location.num_reviews}])
  .detail-btn-container
    .detail-btn-dark(ng-click="detail_context='edit_location'; menu_title='Edit location';") Edit
    .detail-btn-dark(ng-click="add_review(location.id)") Review
  .detail-btn-container
    .detail-btn-dark(ng-click="show_reviews()", ng-show="location.num_reviews > 0") Read reviews ([{location.num_reviews}])
