.detail-container(ng-show="detail_context=='view_reviews'")
  .review-list-container
    // FIXME: Once supported by API, enable users to edit their own reviews?
    // a.list-item(ng-repeat="r in reviews", ng-click="add_review(r.id)")
    a.list-item(ng-repeat="r in reviews")

      .list-item-image(ng-style="r.style")

      .list-item-info-container
        div.review-author by [{::r.author? r.author : "Anonymous"}]
        div Visited [{::r.observed_on | date : 'MMMM d, yyyy'}]
        .review-tag-list
          span.tag(ng-show="r.fruiting != null")
            span.label Status&nbsp;
            [{::fruiting_status[r.fruiting]}]
          span.tag(ng-show="r.quality_rating != null")
            span.label Quality&nbsp;
            [{::ratings[r.quality_rating]}]
          span.tag(ng-show="r.yield_rating != null")
            span.label Yield&nbsp;
            [{::ratings[r.yield_rating]}]
        div(ng-show="r.comment") [{::r.comment}]
                  
          
    .detail-btn-container
      .detail-btn-dark(ng-click="add_review()") Add a review
