.detail-container(ng-show="detail_context=='view_location'")

  //- Photos
  .photo-list-container(ng-show="location.photos.length > 0")
    ul.photo-list
      li(ng-repeat="photo in location.photos")
        img(ng-src="{{photo.url}}")

  //- Details
  .location-info
    .location-types
      span(ng-repeat="id in location.type_ids", ng-bind-template="{{edible_types_data.edible_types_by_id[id].name}}{{$last ? '' : ', '}}")

    //-div {{location.lat.toFixed(5)}}, {{location.lng.toFixed(5)}}
    div(ng-show="location.current_distance == location.map_distance", ng-bind="location.current_distance")
    div(ng-show="location.current_distance != location.map_distance")
      span(ng-show="location.current_distance", ng-bind-template="{{location.current_distance}} (from me)") &nbsp;/ &nbsp;
      span(ng-bind-template="{{location.map_distance}} (from map center)")
    .tag-list
      .tag(ng-show="location.season_string")
        .label(translate="view_location.season", ng-bind="location.season_string")
      .tag(ng-show="location.access != null", ng-bind="location.access_string")
      .tag(ng-show="location.unverified", translate="glossary.unverified")

  //- Description
  .location-description(ng-bind="location.description")
  .location-author
    div(ng-if="!location.author", translate="view_location.date_added", translate-value-date="{{location.created_at | amUtc | amLocal | amDateFormat: 'LL'}}")
    div(ng-if="location.author", translate="view_location.date_added_by_author", translate-value-date="{{location.created_at | amUtc | amLocal | amDateFormat: 'LL'}}", translate-value-author="{{location.author}}")
    div(ng-show="location.updated_at != location.created_at", translate="view_location.date_edited", translate-value-date="{{location.updated_at | amUtc | amLocal | amDateFormat: 'LL'}}")
    
  //- Buttons
  .detail-btn-container
    .detail-btn.dark(ng-click="edit_location(location.id)", translate="view_location.edit")
    .detail-btn.dark(ng-click="add_review(location.id)", translate="view_location.review")
  .detail-btn-container
    .detail-btn.dark(ng-click="show_reviews()", ng-show="location.num_reviews > 0", ng-bind-template="{{'view_location.read_reviews' | translate}} ({{location.num_reviews}})")
