.screen-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-over-scrolling: touch;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Italic";
  font-style: italic;
  src: url("../font/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  font-style: bold;
  src: url("../font/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Bold-Italic";
  font-style: italic bold;
  src: url("../font/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  font-style: italic;
  src: url("../font/Roboto-LightItalic.ttf");
}
body {
  font-family: "Roboto";
  overflow: hidden;
  margin: 0;
  padding: 0;
}
input,
textarea,
a {
  font-family: "Roboto";
  font-size: 16px;
}
a {
  text-decoration: none;
}
.ng-view-container.ltr.ng-enter {
  position: absolute;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: -100%;
}
.ng-view-container.ltr.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.ng-view-container.ltr.ng-leave {
  position: absolute;
  -webkit-transition: all ease 325ms;
  -moz-transition: all ease 325ms;
  -ms-transition: all ease 325ms;
  transition: all ease 325ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
.ng-view-container.ltr.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.ng-view-container.rtl.ng-enter {
  position: absolute;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 100%;
}
.ng-view-container.rtl.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.ng-view-container.rtl.ng-leave {
  position: absolute;
  -webkit-transition: all ease 325ms;
  -moz-transition: all ease 325ms;
  -ms-transition: all ease 325ms;
  transition: all ease 325ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
.ng-view-container.rtl.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.auth-container.ng-hide-add {
  display: block !important;
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  transition: all linear 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.auth-container.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.auth-container.ng-hide-remove {
  display: block !important;
  -webkit-transition: all linear 275ms;
  -moz-transition: all linear 275ms;
  -ms-transition: all linear 275ms;
  transition: all linear 275ms;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  z-index: 42;
}
.auth-container.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.auth-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -moz-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -ms-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  z-index: 40;
  background-color: white;
}
.auth-overlay.show {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.auth-logo {
  height: 30%;
  background: url('../img/login-bg.png') center center no-repeat;
  background-size: auto 100%;
}
.auth-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 41;
}
.auth-input-container {
  position: relative;
  background-color: #dce1e6;
  margin: 20px 10%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.auth-input-container.email {
  margin-top: 30px;
}
.auth-input-container.password {
  margin-bottom: 0px;
}
.auth-input-container input {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: #5a5f64;
  font-size: 18px;
  padding: 10px 0 10px 50px;
}
.auth-text {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #5a5f64;
  font-size: 14px;
}
.auth-btn-container {
  display: table;
  width: 80%;
  margin: auto;
  border-spacing: 20px;
  table-layout: fixed;
}
.auth-btn {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  width: 80%;
  margin: auto;
}
.auth-btn-cell {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  display: table-cell;
  width: 49%;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.auth-btn-dark {
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #022f27;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
