@font-face {
  font-family: "PT-Sans";
  src: url('../font/PT-Sans/PTS55F-webfont.eot');
  src: url('../font/PT-Sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PT-Sans/PTS55F-webfont.woff') format('woff'), url('../font/PT-Sans/PTS55F-webfont.ttf') format('truetype'), url('../font/PT-Sans/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Italic";
  src: url('../font/PT-Sans/PTS56F-webfont.eot');
  src: url('../font/PT-Sans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PT-Sans/PTS56F-webfont.woff') format('woff'), url('../font/PT-Sans/PTS56F-webfont.ttf') format('truetype'), url('../font/PT-Sans/PTS56F-webfont.svg#pt_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Bold";
  src: url('../font/PT-Sans/PTS75F-webfont.eot');
  src: url('../font/PT-Sans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PT-Sans/PTS75F-webfont.woff') format('woff'), url('../font/PT-Sans/PTS75F-webfont.ttf') format('truetype'), url('../font/PT-Sans/PTS75F-webfont.svg#pt_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Bold-Italic";
  src: url('../font/PT-Sans/PTS76F-webfont.eot');
  src: url('../font/PT-Sans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PT-Sans/PTS76F-webfont.woff') format('woff'), url('../font/PT-Sans/PTS76F-webfont.ttf') format('truetype'), url('../font/PT-Sans/PTS76F-webfont.svg#pt_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT-Sans-Narrow";
  src: url('../font/PT-Sans/PTN57F-webfont.eot');
  src: url('../font/PT-Sans/PTN57F-webfont.eot?#iefix') format('embedded-opentype'), url('../font/PT-Sans/PTN57F-webfont.woff') format('woff'), url('../font/PT-Sans/PTN57F-webfont.ttf') format('truetype'), url('../font/PT-Sans/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "PT-Sans", Arial, sans-serif;
  overflow: hidden;
}
body,
ul {
  margin: 0;
  padding: 0;
}
input,
textarea,
a {
  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
div,
input,
textarea,
a,
ul,
li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
.ng-view-container.ltr.ng-enter {
  position: absolute;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: -100%;
}
.ng-view-container.ltr.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.ng-view-container.ltr.ng-leave {
  position: absolute;
  -webkit-transition: all ease 325ms;
  -moz-transition: all ease 325ms;
  -ms-transition: all ease 325ms;
  transition: all ease 325ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
.ng-view-container.ltr.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.ng-view-container.rtl.ng-enter {
  position: absolute;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 100%;
}
.ng-view-container.rtl.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.ng-view-container.rtl.ng-leave {
  position: absolute;
  -webkit-transition: all ease 325ms;
  -moz-transition: all ease 325ms;
  -ms-transition: all ease 325ms;
  transition: all ease 325ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
}
.ng-view-container.rtl.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.auth-container.ng-hide-add {
  display: block !important;
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  transition: all linear 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.auth-container.ng-hide-add.ng-hide-add-active {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.auth-container.ng-hide-remove {
  display: block !important;
  -webkit-transition: all linear 275ms;
  -moz-transition: all linear 275ms;
  -ms-transition: all linear 275ms;
  transition: all linear 275ms;
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  z-index: 42;
}
.auth-container.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.detail-container.ng-hide-add {
  display: block !important;
  -webkit-transition: all linear 275ms;
  -moz-transition: all linear 275ms;
  -ms-transition: all linear 275ms;
  transition: all linear 275ms;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.detail-container.ng-hide-add.ng-hide-add-active {
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}
.detail-container.ng-hide-remove {
  display: block !important;
  -webkit-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -ms-transition: all linear 300ms;
  transition: all linear 300ms;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}
.detail-container.ng-hide-remove.ng-hide-remove-active {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.ng-switcher {
  display: table-cell;
  height: 30px;
}
.switcher {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 30px;
  background-color: #dce1e6;
  -webkit-transition: all ease 300ms;
  -moz-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.switcher.on {
  background-color: #ff8100;
}
.switcher-circle {
  position: absolute;
  height: 26px;
  width: 26px;
  left: 2px;
  top: 2px;
  background-color: white;
  border: solid 1px white;
  -webkit-transition: all ease 325ms;
  -moz-transition: all ease 325ms;
  -ms-transition: all ease 325ms;
  transition: all ease 325ms;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-border-radius: 26px;
  -ms-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
}
.switcher.on .switcher-circle {
  -webkit-transform: translate3d(30px, 0, 0);
  -moz-transform: translate3d(30px, 0, 0);
  -ms-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
.auth-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -moz-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -ms-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  z-index: 40;
  background-color: #faf9f9;
}
.auth-overlay.show {
  -webkit-transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.auth-login-logo {
  height: 30%;
  background: url('../img/login-bg.png') center center no-repeat;
  background-size: auto 100%;
}
.auth-default-logo {
  height: 20%;
  background: url('../img/svg/logo-full.svg') center center no-repeat;
  background-size: 80% auto;
}
.auth-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 41;
}
.auth-input-container {
  position: relative;
  background-color: #dce1e6;
  margin: 20px 10%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.auth-input-container.email:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url('../img/svg/input-email.svg') no-repeat center center;
  background-size: 28px;
}
.auth-input-container.password:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url('../img/svg/input-password.svg') no-repeat center center;
  background-size: 28px;
}
.auth-input-container.name:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url('../img/svg/input-name.svg') no-repeat center center;
  background-size: 18px;
}
.auth-input-container.password-1:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url('../img/svg/input-password1.svg') no-repeat center center;
  background-size: 24px;
}
.auth-input-container.password-2:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: url('../img/svg/input-password2.svg') no-repeat center center;
  background-size: 24px;
}
.login .email {
  margin-top: 30px;
}
.auth-input-container.password {
  margin-bottom: 0px;
}
.auth-input-container input {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: #5a5f64;
  font-size: 18px;
  padding: 10px 0 10px 50px;
  width: 100%;
}
.auth-text {
  display: block;
  padding: 20px 0;
  text-align: center;
  color: #5a5f64;
  font-size: 14px;
}
.auth-btn-container {
  display: table;
  width: 80%;
  margin: auto;
  border-spacing: 20px;
  table-layout: fixed;
}
.auth-btn {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: auto 10%;
}
.auth-btn-cell {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: table-cell;
  width: 49%;
}
.auth-btn-dark {
  display: block;
  padding: 10px;
  margin: auto 10%;
  background-color: #022f27;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.register .auth-btn-dark,
.forgot-password .auth-btn-dark {
  margin-top: 20px;
}
.angular-google-map-container {
  position: absolute;
  top: 52px;
  bottom: 56px;
  width: 100%;
}
.search-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}
.search-inner-container {
  position: absolute;
  height: 100%;
  width: 200%;
  top: 0;
  left: -100%;
  overflow: hidden;
  -webkit-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -moz-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -ms-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
}
.search-inner-container.show {
  -webkit-transform: translate3d(250px, 0, 0);
  -moz-transform: translate3d(250px, 0, 0);
  -ms-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0);
}
.search-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.search-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #faf9f9;
  height: 52px;
  border-bottom: solid 1px #dce1e6;
}
.ios7 .search-menu {
  height: 72px;
}
.current-location {
  position: absolute;
  width: 57px;
  height: 52px;
  background: url("../img/svg/control-me.svg") no-repeat center center;
  background-size: 30px;
}
.ios7 .current-location {
  top: 20px;
}
.ios7 .angular-google-map-container {
  top: 72px;
}
.search-view-container {
  position: absolute;
  top: 52px;
  bottom: 56px;
  width: 200%;
  background-color: white;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 11;
}
.list-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-over-scrolling: touch;
  background-color: white;
  z-index: 15;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
  left: -50%;
}
.list-container.show {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.search-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #faf9f9;
  border-top: solid 1px #dce1e6;
}
.search-footer .settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background: url("../img/svg/control-settings.svg") no-repeat center center;
  background-size: 30px;
}
.search-footer .btn-group-container {
  display: block;
  margin: 0 56px;
}
.btn-group {
  display: table;
  width: 90%;
  margin: 7px 5%;
  border: solid 2px #29a858;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-map {
  display: table-cell;
  height: 36px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
.btn-list {
  display: table-cell;
  height: 36px;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border-left: solid 2px #29a858;
}
.btn-group .active {
  background-color: #29a858;
  color: white;
}
.search-footer .add {
  position: absolute;
  top: 0;
  right: 0;
  height: 56px;
  width: 56px;
  background: url("../img/svg/control-add.svg") no-repeat center center;
  background-size: 30px;
}
.search-input-container {
  position: relative;
  background-color: #dce1e6;
  margin: 10px 15px 0 60px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-input-container:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 100%;
  background: url('../img/svg/input-search.svg') no-repeat center center;
  background-size: 20px;
}
.search-input-container input {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: #5a5f64;
  font-size: 18px;
  padding: 0 0 0 38px;
  height: 32px;
  line-height: 32px;
  width: 100%;
}
.map {
  background: url('../img/loader.gif') no-repeat center center;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}
.search-side-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.search-side-menu {
  position: absolute;
  width: 250px;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #112d26;
  color: white;
}
.search-params-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-over-scrolling: touch;
}
.btn-logout-container {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  border-top: solid 1px #4b6059;
  text-align: center;
  overflow: hidden;
}
.btn-logout {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 50px;
  margin: 10px auto;
  background-color: #3d3e3e;
  color: white;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.search-param-header {
  font-family: "PT-Sans-Bold";
  padding: 10px 0 10px 25px;
  border-bottom: solid 1px #5a5f64;
}
.search-param-radio {
  position: relative;
  display: block;
  padding-left: 50px;
  height: 50px;
  line-height: 50px;
}
.search-radio-container {
  position: absolute;
  content: " ";
  top: 14px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: #ff8100;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.search-radio-active {
  position: absolute;
  content: " ";
  top: 6px;
  left: 6px;
  height: 8px;
  width: 8px;
  background-color: red;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.list-item {
  position: relative;
  display: block;
  border-bottom: solid 1px #dce1e6;
  height: 90px;
  overflow: hidden;
}
.list-item-image {
  position: absolute;
  width: 70px;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #dce1e6;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.list-item-info-container {
  margin-left: 90px;
  overflow: hidden;
}
.list-item-distance {
  color: black;
  padding: 14px 0 5px 0;
}
.list-item-auth span {
  color: #dce1e6;
}
.list-item-name {
  color: #ff8100;
  padding: 0 0 5px 0;
}
.list-item-description {
  font-size: 12px;
  color: #5a5f64;
  height: 16px;
  line-height: 16px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 52px;
  left: 0;
  width: 100%;
  background-color: #dce1e6;
}
.menu-left-btn {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 52px;
  left: 0;
  width: 52px;
}
.menu-left-btn.back {
  background: url('../img/svg/control-arrow.svg') center center no-repeat;
  background-size: 22px;
}
.menu-title {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 52px;
  left: 52px;
  right: 52px;
  line-height: 52px;
  text-align: center;
}
.menu-right-btn {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 52px;
  right: 0;
  width: 52px;
}
.detail-btn {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto 15%;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.detail-btn-dark {
  display: block;
  background-color: #ff8100;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto 15%;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #022f27;
}
.detail-container {
  position: absolute;
  top: 52px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-over-scrolling: touch;
}
.detail-outer-container {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  -webkit-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -moz-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  -ms-transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
  transition: all 300ms cubic-bezier(0.16, 0.7, 0.14, 1);
}
.detail-outer-container.show {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.photo-list-container {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.photo-list {
  list-style-type: none;
}
.photo-list li {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: #dce1e6;
}
.location-info {
  padding: 10px 20px;
  border-bottom: solid 2px #dce1e6;
}
.location-info div {
  padding: 5px 0;
}
.location-description {
  line-height: 20px;
  padding: 10px 20px;
}
.location-author {
  font-size: 14px;
  padding: 0 20px;
}
.btn-location-reviews {
  display: block;
  padding: 20px 0 10px 0;
  text-align: center;
}
.btn-detail-location-container {
  display: table;
  width: 80%;
  margin: auto;
  table-layout: fixed;
  border-spacing: 20px;
}
.btn-detail-location-container .detail-btn-dark {
  display: table-cell;
  width: 49%;
}
.detail-input-container {
  position: relative;
  background-color: #dce1e6;
  margin: 20px 10%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.detail-input-container input {
  background-color: transparent;
  display: block;
  overflow: hidden;
  border: none;
  color: #5a5f64;
  font-size: 18px;
  padding: 10px 0 10px 10px;
  width: 100%;
}
.detail-select-container {
  position: relative;
  background-color: #dce1e6;
  margin: 20px 10%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}
.detail-select-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background: url('../img/png/control-arrow-downward.png') no-repeat center center;
  background-size: 20px;
}
.detail-select-container select {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.detail-textarea-container {
  position: relative;
  background-color: #dce1e6;
  margin: 20px 10%;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.detail-textarea-container textarea {
  resize: none;
  height: 100px;
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 14px;
}
.detail-textarea-container.location textarea {
  height: 150px;
}
.detail-range-container {
  display: table;
  table-layout: fixed;
  width: 80%;
  margin: 10px 10%;
}
.detail-range-label-1 {
  display: table-cell;
  vertical-align: middle;
  width: 100px;
}
.detail-range-label-2 {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  width: 40px;
}
.detail-range-control {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.detail-range-control input[type="range"] {
  -webkit-appearance: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  display: block;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  background-color: #dce1e6;
  padding: 2px;
  -webkit-border-radius: 28px;
  -ms-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}
.detail-range-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 28px;
  width: 28px;
  border: solid 1px #5a5f64;
  background-color: white;
  -webkit-border-radius: 28px;
  -ms-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
}
.detail-toggle-container {
  display: table;
  width: 80%;
  margin: 10px 10%;
}
.detail-toggle-label {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.detail-btn.btn-photo {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.detail-btn.btn-photo:before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 10px;
  background: #ff8100 url("../img/svg/input-photo.svg") no-repeat center left;
  background-size: 25px;
  height: 25px;
  width: 25px;
}
.btn-photo input {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.btn-save {
  margin-bottom: 20px;
}
.detail-btn-dark.review {
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-list-container .list-item {
  padding: 10px 20px;
  border-bottom: none;
}
.review-list-container .list-item-image {
  left: 30px;
}
.list-item-author {
  font-size: 14px;
}
.list-item-auth span {
  color: #dce1e6;
}
